* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html,
body {
    min-height: 100vh;

}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.container {
    width: 70vw;
    border-radius: 1rem;
    background-color: #f1f1f17e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    height: 25%;
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header .header-title h1 {
    font-size: 28px;
    font-weight: 600;
}

.header-action {
    padding: .5rem 0;

}

.header-action button {
    padding: 15px 25px;
    border-radius: 1rem;
    border: none;
    background-color: rgba(30, 143, 255, 0.491);
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color, box-shadow .2s ease-out;
}

.header-action button:hover {
    background-color: rgba(30, 143, 255, 0.527);
    box-shadow: 1px 1px 5px gray;
}

main {
    padding: 0 .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.book-list {
    width: 100%;
    margin: .5rem;
    border-radius: 1rem;
    border: 2px solid #aaa;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 1rem;

}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    min-width: 0;
    border-radius: 1rem;
    border: 1px solid black;
}

.card-img {
    border: 1px solid black;
    width: 100%;
    min-height: 280px;
    overflow: hidden;
    margin-bottom: .5rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

}


li {
    list-style-type: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 80%;
}

.hidden {
    display: none;
}


form {
    width: 40%;
    background-color: #eee;
    border-radius: 1rem;
    padding: .5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form>h1 {
    text-align: center;
    margin: 1rem;
}

form div {
    width: 100%;
    margin: .5rem;
    z-index: 2;
}

input {
    width: 100%;
    padding: .75rem;
    margin: .75rem 0;
    border-radius: .25rem;

}

.is-read-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.is-read-group>label {
    white-space: nowrap;
}

.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}


.radio-option input[type="radio"] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}



.submit-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-group input {
    max-width: 35%;
    border-radius: 1rem;
    cursor: pointer;
}

/* 
.books {
    width: 50vw;
}

#book-list li {
    width: 100%;
    margin: 5px 0;
    background-color: #eee;
    border-radius: .5rem;
    border: 1px solid #d3d3d32e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#book-list li i {
    margin-left: auto;
    font-size: 16px;
    width: 100px;
    height: 100px;
} */